.header{
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo h1{
    font-size: 32px;
    color: white;
}
.header .logo h1 span{
    color:  rgb(222,243,88) ;
    /* text-shadow: 3px 3px 12px rgb(222,243,88) ; */
}