.auth-container{
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.auth-container h1{
    color: white;
}
.login-container{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}
.input{
    width: 80%;
    height: 56px;
    border: 3px solid rgb(53,61,54) ;
    background: transparent;
    border-radius: 15px;
    padding: 0 1.2rem;
    font-size: 18px;
    color: white ;
    transition: .3s all;
}
.input:hover{
    border: 3px solid #def358;
}
@media screen and (max-width:765px) {
    .login-container{
        width: 85%;
    }
    .input{
        width: 100%;
    }
}